language: node_js
node_js:
  - 0.10
before_script:
  - npm install -g grunt-cli
notifications:
  email: false
  irc:
    channels:
      - "irc.freenode.org#gratipay"
    on_success: change
    on_failure: always
    template:
      - "%{repository} (%{branch}:%{commit} by %{author}): %{message} (%{build_url})"
    skip_join: true
